DATABASE_URL=postgres://postgres:dev@localhost:5432/tasks
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhibmtwYnNmemp5anhldXB0dHh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3NzUyMzksImV4cCI6MjEwMzM1MTIzOX0.qm6XT5sHIch3YsC-_tGNfaxwLP_FU3y7zHez0LoqZOs
SUPABASE_URL=https://xbnkpbsfzyjxeupttxw.supabase.co
PORT=3000